*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body{
    height: 100%;
    width: 100%;
    background-color: white;
}

button{
    background-color: red;
    color: white;
    font-size: 2rem;
    border-radius: 0.5rem;
    padding: 1rem 1.5rem;
    border: 0.3rem solid rgb(14, 224, 196);
    position: relative;
    z-index: 10;
}

button:active{
    scale: 0.5;
}


.main{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}