*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body{
    height: 100%;
    width: 100%;
    background-color: rgb(239, 231, 231);
    cursor: none;

}
 
main{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.Speech{
  position: relative;
}

.Speech img{
  position: relative;
  opacity: 0;
}

h2{
    letter-spacing: 0.125rem;
    transform: rotate(-2deg);
    text-shadow: 2px 2px red;
    position: absolute;
    top: 3.75rem;
    margin-left: 1.8rem;
    opacity: 0;
}

#Tom{
  margin: 1.2px 3rem;
   width: 18rem;
}

#Jerry{
  height: 7rem;
  width: 7rem;
  position: fixed;
  transform: translate(-50%,-50%);
  pointer-events: none;
}

@media (max-width: 600px) {

  #Tom {
     width: 5rem;
     height: 20rem;
     margin: 1rem;
  }

  #Jerry {
    width: 4.5rem;
    height: 4.5rem;
  }

  .Speech img {
    width: 8rem;
  }

  h2 {
    font-size: 0.5rem;
    top: 2.2rem;
    margin-left: 0.5rem;
    letter-spacing: 0.06rem;
  }
}


@media (max-width: 900px) {

  h2 {
    font-size: 1rem;
  }
}