*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body{
    height: 100%;
    width: 100%;
    background-color: rgb(0, 0, 0);
    cursor: pointer;
}
 
main{
  display: flex;
  flex-wrap: wrap;
}

.card{
    height: 400px;
    width: 350px;
    background-color: whitesmoke;
    padding: 20px 30px;
    border-radius: 10px;
    margin: 25px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.card img{
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 50%;
    
}

.card h3{
  font-size: 26px;
  white-space: nowrap;
}

.card h4{
  font-size: 20px;
  color: rgb(215, 31, 90);
}
.card p{
  display: flex;
  align-self: center;
  font-size: 16px;
}


